DEVO_API_URL=
DEVO_API_KEY=
DEVO_API_SECRET=
DEVO_API_QUERYID=
DEVO_SENDER_SERVER=
DEVO_SENDER_TCP_SERVER=
DEVO_SENDER_PORT=
DEVO_SENDER_TCP_PORT=
DEVO_SENDER_KEY=/opt/devo-python-sdk/certs/client.key
DEVO_SENDER_CERT=/opt/devo-python-sdk/certs/client.crt
DEVO_SENDER_CHAIN=/opt/devo-python-sdk/certs/ca.crt
DEVO_TEST_TCP=True

